In [31]:
from sklearn.impute import KNNImputer, MICE
import pandas as pd
import numpy as np

ImportError: cannot import name 'MICE' from 'sklearn.impute' (/home/codespace/.local/lib/python3.12/site-packages/sklearn/impute/__init__.py)

In [15]:
df = pd.read_csv('Warehouse_and_Retail_Sales.csv')
df = pd.DataFrame(df)
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [16]:
# Checking if any of the columns contain any not a number (NaN) value.
columns = df.columns.tolist()
for col in columns:
    print(f'{col}: {df[col].isna().sum()}')

YEAR: 0
MONTH: 0
SUPPLIER: 167
ITEM CODE: 0
ITEM DESCRIPTION: 0
ITEM TYPE: 1
RETAIL SALES: 3
RETAIL TRANSFERS: 0
WAREHOUSE SALES: 0

In [ ]:
# For nominal columns we will simply replace them by 'Unknown'.
df['SUPPLIER'] = df['SUPPLIER'].replace(np.nan, 'Unknown')
df['ITEM TYPE'] = df['ITEM TYPE'].replace(np.nan, 'Unknown')
df['ITEM TYPE'].isna().sum()
df['SUPPLIER'].isna().sum() #Successfully removed the NaN values from nominal columns

np.int64(0)

In [ ]:
knn_imputer = KNNImputer(n_neighbors=3)
df[['RETAIL SALES']] = knn_imputer.fit_transform(df[['RETAIL SALES']])

In [38]:
# Verifying if any of the columns still contain any not a number (NaN) value.
columns = df.columns.tolist()
for col in columns:
    print(f'{col}: {df[col].isna().sum()}')

YEAR: 0
MONTH: 0
SUPPLIER: 0
ITEM CODE: 0
ITEM DESCRIPTION: 0
ITEM TYPE: 0
RETAIL SALES: 0
RETAIL TRANSFERS: 0
WAREHOUSE SALES: 0